
textarea {
    max-width: 280px;
}

.eventDiv{
    height:auto;
    padding:15px;

}

.eventDiv : hover {
    background-color : bisque;
}

.button {
    color:forestgreen;
    align-items:center;
}

.button : hover {
box-shadow:red ;
}

.buttonGoTo : hover {

box-shadow:blue;
}

h2 {
    align-content: center;
}


